html, body {
	margin: 5px;
	padding: 0;

	background-color: rgb(59, 59, 59);
	color: white;
}
canvas {
	width: 400px;
	height: 400px;
	display: block;

	border: solid 5px black;
}

button {
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
	background-color: #252525;
	color: white;

	font-size: 20px;

	transition: background-color 250ms;
}
button:hover {
	background-color: #101010;
}

select {
	padding: 5px 5px;
	border: none;
	border-radius: 5px;
	background-color: #252525;
	color: white;

	font-size: 20px;

	transition: background-color 250ms;
}
select:hover {
	background-color: #101010;
}

.colorContainer {
	height: 5rem;
	width: 100%;
	padding: 5px 5px;
	border-radius: 5px;
	background: #494949;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.colors {
	height: 60%;
	padding: 15px 20px;
	border-radius: 30px;
	border: none;

	transition: 250ms;
}
.colors:hover {
	height: 100%;
}